registry=https://ihouqi-npm.pkg.coding.net/fe/public/
always-auth=true
//ihouqi-npm.pkg.coding.net/fe/public/:username=public-1645089053143
//ihouqi-npm.pkg.coding.net/fe/public/:_password=OTJkM2VlNDJmMjhhNTJmMzZjNTdlY2IzZDAzODU5Y2Y4YTQ4YmNiOA==
//ihouqi-npm.pkg.coding.net/fe/public/:email=1428899467@qq.com
