registry=https://ihouqi-npm.pkg.coding.net/fe/public/
//ihouqi-npm.pkg.coding.net/fe/public/:_authToken=Y2Nuem9zaWppcjpkaHo3NDgxMjM0NTY3
//ihouqi-npm.pkg.coding.net/fe/:_authToken=Y2Nuem9zaWppcjpkaHo3NDgxMjM0NTY3
